   

<!-- Main Content -->
<main class="main minh-100vh">
    <!-- Section -->
    <section class="py-0 overflow-hidden text-center">
        <div class="bg-container overlay parallax" data-rellax-percentage="0.5" style="background-image: url(/img/laeti-3/pique15v.jpg)"></div>
        <div class="container">
            <div class="row h-100vh align-items-center">
                <div class="col">
                    <h1 class="text-white text-uppercase fs-4 fs-lg-6" data-aos="fade-right" data-aos-duration="1000">Laetitia Reversat</h1>
                    <p class="mb-5 fs-0 fs-lg-1 text-white" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000">Photographe</p>

                </div>
            </div>
        </div>
    </section>
    <!-- End of Section -->

    <!-- Section -->
    <section class="py-0">
        <div class="container">
             <nav class="my-0 pt-4" aria-label="Page pagination">
                <ul class="pagination justify-content-center">

                    <li class="page-item"><%= link_to 'Vacances', root_path, class:'page-link text-uppercase'%></li>

                    <li class="page-item"><%= link_to 'Manifestation', page2_path, class:'page-link text-uppercase'%></li>

                    <li class="page-item"><%= link_to 'Chloe', page3_path, class:'page-link text-uppercase'%></li>

                    <li class="page-item"><%= link_to 'Teen', page4_path, class:'page-link text-uppercase'%></li>

                    <li class="page-item active"><%= link_to 'Girls', page5_path, class:'page-link text-uppercase'%></li>

                    <li class="page-item"><%= link_to 'coquillage', page6_path, class:'page-link text-uppercase'%></li>

                    <li class="page-item"><%= link_to 'fleurs', page7_path, class:'page-link text-uppercase'%></li>

                </ul>
            </nav>
            <div class="row">
                <div class="col-lg-10 order-lg-2 py-6 py-lg-9 px-0">
                    <div class="grid">
                        <div class="row no-gutters mt-neg-3">
                            
                            <div class="col-md-6 col-lg-4 p-3 grid-item print vision">
                                <a data-fancybox="gallery" href="/img/laeti-3/doree1v.jpg"><img class="img-fluid w-100" src="/img/laeti-3/doree1v.jpg" alt="Image 01" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item arch">
                                <a data-fancybox="gallery" href="/img/laeti-3/doree2v.jpg"><img class="img-fluid w-100" src="/img/laeti-3/doree2v.jpg" alt="Image 02" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item arch">
                                <a data-fancybox="gallery" href="/img/laeti-3/doree3v.jpg"><img class="img-fluid w-100" src="/img/laeti-3/doree3v.jpg" alt="Image 03" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item arch">
                                <a data-fancybox="gallery" href="/img/laeti-3/pique15v.jpg"><img class="img-fluid w-100" src="/img/laeti-3/pique15v.jpg" alt="Image 04" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item portrait">
                                <a data-fancybox="gallery" href="/img/laeti-3/pique17v.jpg"><img class="img-fluid w-100" src="/img/laeti-3/pique17v.jpg" alt="Image 05" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item arch">
                                <a data-fancybox="gallery" href="/img/laeti-3/pique18v.jpg"><img class="img-fluid w-100" src="/img/laeti-3/pique18v.jpg" alt="Image 06" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item portrait">
                                <a data-fancybox="gallery" href="/img/laeti-3/short2v.jpg"><img class="img-fluid w-100" src="/img/laeti-3/short2v.jpg" alt="Image 09" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item portrait">
                                <a data-fancybox="gallery" href="/img/laeti-3/vestefleurs2v.jpg"><img class="img-fluid w-100" src="/img/laeti-3/vestefleurs2v.jpg" alt="Image 08" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 order-lg-1">
                    <div class="pb-6 py-lg-9" data-toggle="sticky">
                        <h5 class="mb-4 text-uppercase" style="color: black;">Types</h5>
                        <ul class="mb-6 list-unstyled text-600">
                            <li class="mb-1"><a href="javascript:;" data-filter="*" style="color: black;">Toutes</a></li>
                            <li class="mb-1"><a href="javascript:;" data-filter=".portrait" style="color: black;">Portrait</a></li>
                            <li class="mb-1"><a href="javascript:;" data-filter=".arch" style="color: black;">Architecture</a></li>
                        </ul>
                        <h5 class="mb-4 text-uppercase text-600"><%= link_to 'CONTACT', contact_path, style:'color: black' %></h5>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Section -->

    <!-- Section -->
    <section class="pt-0 text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-md-10 col-lg-6">
                    <h3 class="mb-4 text-uppercase">Our project goal</h3>
                    <p style="color: black;">Integer urna nibh, ultricies eget velit sed, ornare mollis nibh. Sed sagittis, enim scelerisque bibendum hendrerit, ligula est sagittis magna, at faucibus eros orci a nunc. Aliquam non mauris at elit.</p>
                </div>
            </div>
        </div>
    </section>
   
    <!-- End of Section -->
</main>
<!-- End of Main Content -->


<!-- Footer -->
